@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&display=swap");

body {
  width: 100vmin;
  height: 75vmin;
  font-family: "Azeret Mono", monospace;
}

#tv {
  position: relative;
  width: 100%;
  height: 100%;
}

#fragment {
  left: 15vmin;
  position: absolute;
  text-align: center;
  top: 15vmin;
  width: 70vmin;
  font-size: 6vmin;
  color: #eee;
  background-color: #55555520;
  filter: drop-shadow(0 1px 3px);
}

#author {
  left: 55vmin;
  position: absolute;
  top: 60vmin;
  width: 30vmin;
  font-size: 2.5vmin;
  text-align: right;
  color: #eee;
  background-color: #55555520;
}

div {
  animation: glitch 3s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

div:before,
div:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

div:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
